/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Quicksand:wght@300;400&display=swap');
/* layout */
:root {
    --primary: #1aac83;
    --error: #e7195a;
    --primary-hover: #198c6b;
}

body {
    background: #25252f;
    margin: 0;
    font-family: "Poppins";
}

header {
    background: rgb(23, 23, 36);
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* text-align: center; */
    margin: 0 auto;
}

.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.todos{
    background: rgb(23, 23, 36);
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
    border-radius: 20px;
}
.addtodo{
    text-align: center;
    margin: 40px auto;
}

.addtodo input{
    width: 30%;
    height: 40px;
    border: none;
    border: 1px solid whitesmoke;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    background: #2a2a2e;
    text-indent: 10px;
}

.todosbody{
    padding: 10px 0px;
    font-family: 'QuickSand';
    font-weight: 100;
}

.todo h2{
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    color: white;
    /* padding: 10px; */
}

.todo p{
    margin-top: 5px;
    font-size: small;
    color: gray;
}

input.checkbox{
    width: 20px;
    height: 20px;
    /* padding-top: 15px; */
}

input.checkbox{
    position: absolute;
    margin-top: 8px;
    margin-left: -80px;
    cursor: pointer;
}

span.material-symbols-outlined{
    position: absolute;
    margin-left: 80px;
    margin-top: 6px;
}

.material-symbols-outlined{
    cursor: pointer;
}

.material-symbols-outlined:hover{
    color: gray;
    transition: 0.2s;
}

div.todo:hover{
    max-width: 400px;
    margin: 0 auto;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    transition: 0.2s;
}

.done{
    text-decoration: line-through;
    font-weight: 100;
}

input.error {
    border: 1px solid var(--error);
}

div.empty h4{
    /* color: rgb(158, 29, 29); */
    margin: 10px auto;
}

.notodo{
    padding: 20px 0px;
}